*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
h6 {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-family: "Baloo Da 2", sans-serif;
  color: #262528;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h4 {
  color: #262528;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-family: "Baloo Da 2", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.header_bg {
  background-image: url('../img/HeaderBG.png');
  background-position: bottom center;
  background-size: cover;
}

.feature_free_header h5 {
  color: #181E2A;
  font-family: "Baloo Da 2", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.feature_free_header h1 {
  color: #181E2A;
  font-family: "Baloo Da 2", sans-serif;
  font-size: 56px;
  font-weight: 800;
}

.feature_free_header p {
  color: #3E4044;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

.frame_group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.frame {
  position: relative;
  width: 186px;
  height: 203px;
}

.frame_bg_down,
.frame_bg_down_two {
  position: absolute;
  width: 186px;
  height: 196px;
  top: 0;
  z-index: 9;
}

.frame_book_up,
.frame_book_up_two {
  position: absolute;
  width: 144px;
  height: 203px;
  z-index: 99;
  top: -20px;
  left: 32px;
}

.frame_bg_down_two {
  left: 0;
}

.frame_book_up_two {
  top: -20px;
  left: 21px;
}



.scrollable-dropdown {
  height: auto;
  max-height: 320px;
  overflow-x: hidden;
}

.user {
  margin-top: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.user img {
  padding: 8px;
  height: 36px;
  width: 36px;
}

.user_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  line-height: 1.2;
}

.user_text h6 {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.user_text p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.user_img {
  background-color: #fff;
  border-radius: 50%;
}

.about_text {
  color: #5B3AFF;
}

.about_text a {
  text-decoration: none;
}

.about_img img {
  width: 100%;
}

.about_widget {
  display: flex;
  align-items: flex-start;
}
.generator_h4_title h4{
  background-color: #FFFFFF;
  color: #5B3AFF;
  border-radius: 24px;
  padding: 5px 10px;
  gap: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  display: inline;
}
.about_widget_left {
  flex: 0 0 auto;
  margin-right: 20px;
}

.generator_icon_bg {
  background-color: #EFEBFF;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px dashed #F47E08;
}

.about_widget_right {
  flex: 1;
}

.container_btn {
  margin-top: 35px;
  max-width: 400px;
  height: 40px;
  border-radius: 60px;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}
.left_select {
  height: 40px;
  width: 120px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  background: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #262528;
  appearance: none; /* Hides the default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select-wrapper::after {
  content: "v";
  font-size: 18px;
  color: #141B34;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 500;
}
.vertical-line {
  width: 1px;
  height: 18px;
  background-color: #ccc;
  margin: 0 10px;
}
.template_name {
  height: 38px;
  width: 290px;
  min-width: 100px;
  border: none;
  outline: none;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 0 100px 0 5px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6E6D6F;
}

.right_btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: #F01E76;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  color: #fff;
  font-size: 18px;
}

.s_btn {
  right: -9px;
  top: -6px;
}

.btn {
  position: absolute;
  bottom: 9px;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.2s ease;
  color: #F01E76;
  outline: none;
}

.red_btn {
  position: absolute;
  right: 25px;
  background-color: #FAB9D5;
}

.red_btn:hover {
  color: #F01E76;
}

.btn-outline-secondary {
  background-color: transparent;
  color: #333;
}

.btn-outline-secondary:hover {
  /* background-color: #eee; */
}

.form-control {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}

.search_button {
  width: 100px;
  height: 100%;
  border: 1px solid;
  position: absolute;
  top: 0;
  right: 0;
}

.rounded-right {
  border: none;
  background: #F01E76;
  /* height: 40px; */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  max-width: 200px;
  padding: 5px 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown-item:hover {
  background-color: #eee;
}

.scrollable-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

#search_concept {
  font-size: 16px;
  font-weight: 500;
}

.learn-more-button {
  background-color: #ff2d78;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 24px;
  padding: 16px 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 0px #c51a5a;
  transition: all 0.2s ease-in-out;
}

.learn-more-button .icon {
  font-size: 20px;
}

.learn-more-button:hover {
  background-color: #e0266b;
}

.learn-more-button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 0px #c51a5a;
}


/* MOST PUPOLAR SECTION CSS */
.most_pupolar_post {
  font-size: 16px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  margin-top: 50px;
  color: #5B3AFF;
  background: #fff;
  padding: 10px;
  border-radius: 24px;
  width: 150px;
  text-align: center;
}

.most_pupolar_text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.most_pupolar_title {
  font-family: "Baloo Da 2", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.card_design {
  max-height: 560px;
  height: 514px;
  padding: 24px;
  border-radius: 40px;
  border: 2px dashed #FEE9F1;
  background: #FFF;
  box-shadow: 0 48px 100px rgba(0, 7, 33, 0.08), 0 16px 48px rgba(0, 7, 33, 0.02);
  text-align: left;
}

.card_design:hover {
  border: 2px dashed #F01E76;
}
.card_design_categories {
  max-height: 560px;
  height: 460px;
  padding: 24px;
  border-radius: 40px;
  border: 2px dashed #FEE9F1;
  background: #FFF;
  box-shadow: 0 48px 100px rgba(0, 7, 33, 0.08), 0 16px 48px rgba(0, 7, 33, 0.02);
  text-align: center;
}
.card_design_categories:hover {
  border: 2px dashed #F01E76;
}
.card_image img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  background-color: #f5f5f5;
}

.card_title h4 {
  font-family: "Baloo Da 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  color: #333;
}

.author_date {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

.author_date img {
  margin: 5px;
}

.author_date .author_name {
  margin: 0;
  font-size: 14px;
  color: #666;
}
.sub_author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.download_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #FDD5E8;
  border-radius: 20px;
  color: #FF3782;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.download_button button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #F01E76;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.download_button img {
  margin-left: 5px;
  height: 12px;
}

.download_button:hover {
  background-color: #FFCCE7;
}


/* <!-- OUR AUTHOR --> */
.container_section {
  background-color: #26186B;
  opacity: 0.8;
  padding: 30px;
}

.author-section {
  color: #FFF;
  font-family: "Baloo Da 2";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 120% */
  letter-spacing: 0.2px;
  /* width: 100%; */
  padding: 20px;
}

.author-card {
  background-color: #ffffff1a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  flex: 1;
  position: relative;
}

.author-card img {
  width: 100%;
  border-radius: 10px;
}

.author-name {
  font-size: 24px;
  margin-top: 10px;
}

.author-info {
  margin-top: 10px;
  font-size: 16px;
}

.author-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.author-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffffff1a;
  border-radius: 50%;
  margin: 0 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.author-social a:hover {
  background-color: #ffffff33;
}

.author-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.author-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.author-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff1a;
  border-radius: 50%;
  margin: 0 5px;
}

.author-dot.active {
  background-color: white;
}

.our-author {
  font-size: 16px;
  background-color: white;
  color: #5B3AFF;
  border-radius: 20px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  padding: 8px 16px;
}

.group_author_card {
  display: flex;
}

.social_card {
  position: absolute;
  background-color: white;
  color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  left: 0px;
  bottom: 10px;
  right: 0px;
}

.bg_color_new_book {
  background-color: #5B3AFF;
  padding: 30px 0;
  height: 800px;
}

/* new book section  */
.our_new_book {
  font-size: 16px;
  background-color: white;
  color: #5B3AFF;
  padding: 0px 10px;
  border-radius: 20px;
  margin: 30px 0px;
  display: inline-block;
  position: relative;
}

.new_book_index {
  position: relative;
  top: 0;
  left: 0;
}

.text_color {
  color: #fff;
}

.bg_new_index_down {
  position: absolute;
  top: 144px;
  left: 0;
  width: 269px;
  object-fit: cover;
  z-index: 1;
}
.bg_new_index_down_title {
  position: absolute;
  top: 421px;
  z-index: 9999;
}

.bg_new_index_up {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 80%;
  object-fit: cover;
  z-index: 2;
}

.bg_new_index_down img {
  width: 100%;
}

.subscribe_parant {
  position: relative;
}

.center_image {
  width: 80%;
  margin: auto;
  height: 300px;
}

.subscribe_bg {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  text-align: center;
  object-fit: cover;
}
.subscribe_full {
  display: flex;
  justify-content: center;
}
/*================ select option design Start*/

select {
  appearance: none;
  outline: none;
  border: 1px solid #FAB9D5;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #F01E76;
  background-color: #FEE9F1;
  background-image: none;
  cursor: pointer;
  border-radius: 2.25rem;
  transition: border-color 0.3s ease;
}

select:focus,
select:active {
  border-color: #F01E76 !important;
  outline: none !important;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  height: 3em;
  border-radius: 2.25em;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  transition: .25s all ease;
  pointer-events: none;
  color: #F01E76;
}


/*================ select option design End*/

.subscribe_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: #fff;
}

.input-container {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
}

#email-input {
  width: 100%;
  height: 40px;
  padding: 10px 45px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 35px;
  box-sizing: border-box;
}


#email-input::placeholder {
  color: #999;
  font-style: italic;
}

#email-input:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

#email-submit-button {
  position: absolute;
  right: 10px;
  top: 53%;
  transform: translateY(-50%);
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.footer_bg {
  background-color: #0B0332;
}
.underline {
  height: 1px;
  background-color: #E9E9EA;
  margin: 0 auto 20px auto;
}

/* breadcrumb CSS design */
.breadcrumb_design {
  display: inline-block;
}

.breadcrumb {
  list-style: none;
  display: flex;
  padding: 10px 16px;
  background-color: #F7F5FF;
  border-radius: 15px;

}

.breadcrumb_item {
  margin-right: 10px;
  position: relative;
}

.breadcrumb_item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb_item a:hover {
  text-decoration: underline;
}

.breadcrumb_item+.breadcrumb_item::before {
  content: '>';
  margin-right: 10px;
  color: #6c757d;
}

.breadcrumb_item.active {
  color: #6c757d;
}

/* pagination css design  */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
}

.pagination a {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
  outline: none;
}

.pagination a:focus {
  background-color: #0056b3;
  color: #fff;
}

.pagination a:not(:first-child):not(:last-child) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}

/* tab catagory css design  */
.tab_design {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 4px 10px;
}

.rounded_button {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.rounded_button:hover {
  background-color: #F01E76;
}

.rounded_button:focus,
.rounded_button.active {
  background-color: #F01E76;
  outline: none;
}

.tabcontent {
  display: none;
}

section {
  padding: 50px 0;
}
.footer_content {
  padding-top: 40px;
}

@media (max-width: 1200px) {
  .frame_group {
    gap: 20px;
  }
  #email-submit-button {
    top: 53%;
  }
}


@media (max-width: 1024px) {

  .feature_free_header h5 {
    font-size: 20px;
    font-weight: 400;
  }

  .feature_free_header h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .feature_free_header p {
    font-size: 14px;
    font-weight: 400;
  }
  .frame_bg_down{
    width: 137px;
    height: 145px;
  }
  .frame_book_up{
    width: 106px;
    height: 150px;
  }
  .frame_bg_down_two{
    width: 137px;
    height: 145px;
  }
  .frame_book_up_two{
    width: 106px;
    height: 150px;
  }
}


@media (max-width: 820px) {

  .btn {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 17px;
  }

  /* MOST PUPOLAR SECTION CSS */
  .most_pupolar_post {
    font-size: 12px;
    font-weight: 700;
  }

  .most_pupolar_text {
    font-size: 14px;
  }

  .most_pupolar_title {
    font-size: 24px;
  }

  .card_design {
    padding: 24px;
    border-radius: 40px;
    border: 2px solid #FEE9F1;
    background: #FFF;
    box-shadow: 0px 48px 100px rgba(0, 7, 33, 0.08), 0px 16px 48px rgba(0, 7, 33, 0.02);
    text-align: center;
    margin-bottom: 10px;
  }

  .card_design:hover {
    border: 2px dashed #F01E76;
  }

  .card_image img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    background-color: #f5f5f5;
  }

  .card_title h4 {
    font-family: "Baloo Da 2", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    color: #333;
  }

  .author_date {
    margin-top: 10px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: baseline;
    gap: 5px;
  }

  .author_date img {
    width: 12px;
    height: 12px;
  }

  .author_date .author_name {
    font-size: 12px;
    font-weight: 400;
  }

  .download_button {
    font-weight: 600;
    font-size: 12px;
  }

  .download_button button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #F01E76;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .download_button img {
    margin-left: 5px;
    height: 12px;
  }

  .download_button:hover {
    background-color: #FFCCE7;
  }

  .generator_title {
    color: #5B3AFF;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  .left_select {
    width: 70px;
  }

  .template_name {
    width: 120px;
  }

  .frame_group {
    gap: 10px;
  }
}

@media (max-width: 993px) {
  .bg_new_index_up {
    top: 100px;
    left: 10px;
  }
  .card_title h4 {
    font-size: 14px;
  }
}

/*================ Our Author Design==============*/
.shadow-effect {
  width: 337px;
  height: 429px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.shadow-effect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 15px solid #32208C;
  border-radius: 100px;
}
.testimonial-name {
  width: 281px;
  height: 104px;
  border-radius: 36px;
  padding: 24px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  position: absolute;
  bottom: -30px;
  left: 32px;
  display: none;
}

.testimonial-name h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.profession {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.profession p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.right_column {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: background-color 0.3s;
  border-radius: 8px;
}
.social_icon img {
  width: 16px !important;
  height: 16px !important;
  display: block !important;
}
.bg_facebook {
  background: rgba(24, 119, 242, 0.08);
}
.bg_instagram {
  background: linear-gradient(180deg, rgba(255, 208, 83, 0.08) 0%, rgba(201, 56, 172, 0.08) 55%, rgba(24, 119, 242, 0.08) 100%);
}
.bg_twitter {
  background: rgba(29, 155, 240, 0.08);
}
.bg_pinterest {
  background: rgba(203, 31, 39, 0.08);
}

.bg_facebook:hover {
  border: 0.5px dashed #1877F2;
  background: rgba(24, 119, 242, 0.08);
}
.bg_instagram:hover {
  border: 0.5px dashed #C938AC;
  background: linear-gradient(180deg, rgba(255, 208, 83, 0.08) 0%, rgba(201, 56, 172, 0.08) 55%, rgba(24, 119, 242, 0.08) 100%);
}
.bg_twitter:hover {
  border: 0.5px dashed #1D9BF0;
  background: rgba(29, 155, 240, 0.08);
}
.bg_pinterest:hover {
  border: 0.5px dashed #CB1F27;
  background: rgba(203, 31, 39, 0.08);
}

#customers-testimonials .owl-item.active.center .testimonial-name {
  display: block;
}
#customers-testimonials .item {
  text-align: center;
  margin-bottom: 40px;
  transform: scale3d(1.0, 1.0, 1);
  transition: all 0.3s ease-in-out;
  width: 300px;
  margin-right: 20px;
  position: relative;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.0, 1.0, 1);
}
#customers-testimonials .owl-item.active.center .item .img-circle {
  border: 15px solid #F01E76;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #fff;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #4129B5;
  display: inline-block;
  height: 20px;
  margin: 30px 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
  border-radius: 50%;
}
.bg {
  background-image: url('../img/Author (1).png');
  background-repeat: no-repeat;
  background-color: #26186B;
  background-position: center;
}

@media (min-width: 769px) and (max-width: 991px) {
  #email-submit-button{
    top: 53%;
  }
}

@media (max-width: 768px) {

  .sub_subscribe_container{
    margin-top: 30px;
    position: relative;
    display: inline-block;
  }
  .sub_subscribe_container h1{
    font-size: 30px;
  }
  #email-submit-button{
    top: 53%;
  }
}
/* Styles for screen widths between 700px and 824px */
@media (min-width: 700px) and (max-width: 824px) {
  .s_btn {
    right: -5px;
    top: -6px;
  }

  .feature_free_header h5{
    font-size: 20px;
  }

  .feature_free_header p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .right_btn {
    padding: 0 10px;
    font-size: 14px;
  }
  .template_name {
    padding: 0 0 0 5px;
  }
  .card_image img {
    height: 300px;
  }
  .card_design {
    height: 390px;
    padding: 14px;
  }
  .card_image img {
    height: 214px;
  }
  .author_date{
    gap: 5px;
  }
  .author_date img {
    width: 12px;
    height: 12px;
  }
  .author_date .author_name {
    font-size: 10px;
  }
  .download_button {
    padding: 8px 12px;
    font-size: 12px;
  }
  .card_design_categories {
    height: 360px;
  }
  .bg_color_new_book{
    height: 585px;
  }
  .bg_new_index_down_title{
    top: 280px;
  }
  .bg_new_index_down{
    top: 100px;
  }
  .bg_new_index_up {
    top: 42px;
    left: 10px;
  }
  .shadow-effect{
    width: 300px;
    height: 348px;
  }
  .testimonial-name {
    width: 250px;
    height: 98px;
  }
  .profession p {
    font-size: 11px;
  }
  .footer_content {
    padding-bottom: 0;
  }
}
@media (max-width: 700px) {
  .footer_content {
    padding-bottom: 0;
  }
}

.navbar {
  padding: 1rem;
}

.navbar-light.bg-dark {
  background-color: #343a40 !important;
}

.nav-link,
.navbar-brand {
  color: #6E6D6F !important;
}

.nav-link:hover {
  color: #262528 !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav_search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.nav-search-input {
  border: none;
  outline: none;
  padding: 0 10px 0 15px;
  font-family: 'Rubik', sans-serif;
  flex-grow: 1;
}

.nav-search-icon {
  margin-right: 10px;
  color: #555;
  width: 30px;
}

.sign-in-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #F01E76;
  color: white;
  text-decoration: none;
  border-radius: 22px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 4px solid #AA1554;
  text-align: center;
  /*width: 29%;*/
}

.sign-in-button:hover {
  background-color: #d91a68;
  color: white;
}

.navbar-collapse {
  width: 100%;
}

.navbar-left {
  display: flex;
  flex-direction: column;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-left {
    flex-direction: row;
    align-items: center;
  }

  .navbar-right {
    flex-direction: row;
    align-items: center;
  }

  .nav_search {
    margin: 0 15px 0 0;
    border: 1px solid #ccc;
  }

  .sign-in-button {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    align-items: flex-end;
    text-align: right;
  }
  .navbar-right {
    align-items: flex-end;
  }

  .form-inline {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav_search {
    width: 100%;
    /*max-width: 250px;*/
    border: 1px solid #ccc;
  }
  .sign-in-button {
    width: 100%;
  }

}
