.custom_x_panel {
    position: relative !important;
    width: 96% !important;
    border-radius: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding: 10px 25px !important;
    margin-left: 28px;
}

.custom_x_panel-submodules {
    position: relative !important;
    width: 96% !important;
    border-radius: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding: 3px 11px !important;
    margin-left: 28px;
}


body {
    font-family: -webkit-body;
}

.form-control {
    border-radius: .40rem !important;
    border: 1px solid #1abb9c !important;
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
    border-radius: .40rem !important;
    border: 1px solid #1abb9c !important;
}

.checkbox {
    position: relative;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.col-form-label {
    font-size: medium !important;
}

/*.dataTables_filter{
    margin-top: -35px!important;
}*/

.btn i {
    margin-right: 5px !important;
}

.panel_toolbox > li > a:hover {
    background: #132847 !important;
}

.button_icon {
    margin-left: 3px;
}

.alert {
    position: unset !important;
    font-size: larger !important;
}

.btn-info {
    color: #fff !important;
    background-color: #0eaa6f !important;
    border-color: #17a2b8;
}

.footer-content {
    justify-content: center !important;
}

.modal-title {
    margin-bottom: 0;
    line-height: 0.5 !important;
}

.help-block-custom {
    position: absolute;
    margin-top: 10%;
}

.main_container {
    color: #73879C !important;
    background: #2A3F54 !important;
}

.loader {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 35%;
    left: 44%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 1100;
    overflow: hidden;
}

.blur-filter {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    position: absolute;
}

.loading-image {
    position: absolute;
    top: 35%;
    left: 44%;
    z-index: 10;
    overflow: hidden;
}

@-webkit-keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.required {
    color: orangered;
}

.nav_menu::after {
    content: "";
    position: absolute;
    left: 0px;
    /*//top: 100%;*/
    width: 100%;
    height: 15px;
    background: url('../images/headerBack2.png') repeat-x top;
}

.nav_menu {
    background: #ffffff !important;
}

.nav.child_menu li:hover, .nav.child_menu li.active {
    background-color: #2a3f54;
}

.nav li li li.current-page {
    background: rgba(255, 255, 255, 0.05);
}

.text-box {
    min-height: 120px;
}

.x_title {
    margin-bottom: 0px !important;
}

.btn-default {
    background: #f5f5f5 !important;
}

.custom-button {
    background: #e1e4e4 !important;
}

.modal-body {
    padding: 0 1rem 1rem 1rem !important;
}

.modal-header {
    padding: 1.4rem 1rem 0.5rem !important;
    height: 60px;
}

.col-form-label {
    padding-bottom: 0px !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.btn {
    padding: 0.300rem .50rem !important;
}

button, .buttons, .btn, .modal-footer .btn + .btn {
    margin-bottom: 1px !important;
    margin-right: 1px !important;
}

.action-buttons {
    width: 117px;
}

.left_col .scroll-view {
    height: 61rem;
}

.mt-6 {
    margin-top: 2rem !important;
}

[class^='select2'] {
    border-radius: 5px !important;
}

.third-menu {
    margin-left: -10px !important;
    line-height: normal !important;
}

.image-uploader {
    min-height: 7.50rem !important;
}

.submodule-arrow {
    margin-top: 1px !important;
}

.modules-title {
    padding: 6px 8px 2px 8px !important;
}

.submodules-title {
    padding: 2px 8px 2px 8px !important;
}

legend {
    border-bottom: 2px solid #e6c589;
}

/*.datatable-left-col {
    float: left;
    margin-top: 5px;
    width: 27%;
}
.datatable-center-col {
    float: left;
    margin-top: 5px;
    width: 25%;
}
.datatable-right-col {
    float: right;
    margin-top: 5px;
    width: 48%;
}*/

.w-19 {
    width: 19% !important;
}

.paginate_button, .active a {
    color: #0f0f0f;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 8px 0 !important;
}


.sidebar-footer a {
    width: 50% !important;
}

.glyphicon {
    font-size: x-large !important;
}

.checkbox-todo-custom {
    padding: 10px !important;
    height: 40px !important;
}

.ajax-modal-btn {
}


.filter-box {
    min-height: 50px;
    padding: 6px;
    margin-left: 10px;
    width: 98%;
    background-color: #f7f7f7;
}

.custom-bar {
    text-align: center;
    background: #e6e6e5;
    margin-left: initial;
    display: block;
}

.nav-md .container.body .right_col {
    padding: 10px 10px 0 !important;
}

.unread-notification-back {
    background-color: rgba(38, 185, 154, 0.07) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #c4c8cc !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: inherit !important;
}


.info-number .badge {
    position: revert!important;
}

.nav-tabs .nav-item {
    border: 1px solid #1abb9c!important;
    background-color: #e6e9ed;
}

.nav-tabs {
    padding: 2px 10px 7px 2px!important;
}

.row{
    display:block ruby!important;
}

.thin-tab{
    padding: 2px 15px!important;
    font-size: 16px!important;
}

.chart-frame-350{
    height:350px;
    width: 100%
}
.chart-frame-400{
    height:400px;
    width: 100%
}

.fc-button-group{display: block!important;}
.fc button, .fc-button-group{display: block!important;}
.fc-content{color: #ffffff;font-weight: bolder!important;}
.fc-event{background: #3a87ad!important;}

.pl-30{
    padding-left: 30px!important;
}
.font25{
    font-size: 25px!important;
}
.font12{
    font-size: 12px!important;
}

.mr-10{
    margin-left: 10px!important;
}

.form-padding{
    padding: 15px 0px 0px 10px!important;
}

.password-filed{
    position: relative; right: 25px; top: 9px;
}

.custom-checkbox2{
    /*position: relative;*/
    margin-top: -4px;
}

.font18{
    font-size: 18px;
}

.example-file{
    font-size: 18px!important; padding: 10px
}

.full-width{
    width: 100%!important;
}

.height-10{
    height: 10px!important;
}

.custom-heading{
    height: 35px;
    padding: 7px 7px 7px 15px!important;
}

#map_canvas{
    height: 100%!important;
}

.profile_img{
    height: 150px;
    width: 140px;
}
.small_img{
    height: 200px;
    width: 100px;
}

.mini_img{
    height: 100px;
    width: 60px;
}
.tiny_img{
    height: 50px;
    width: 30px;
}

.logo_img{
    height: 50px;
    width: 140px;
}
.logo_img_lg{
    height: 110px;
    width: 110px;
}

.plus_button{
    margin-left: -5px!important;
    margin-top: 31.5px!important;
}

.btn i {
    margin-right: 5px!important;
    margin-left: 5px!important;
}
